header{
    height:99px;
    background-color: #4da2ff;
    background-image: url('../img/pattern.png');
    background-size: contain;
    background-repeat: repeat-x;
    color:white;
    font-size: 35px;
    line-height: 140px;
    font-weight: bold;
    text-shadow: 2px 2px black;
}

h1{
    margin-bottom: -5px;
}
#author{
    width:192px;
    color: #8a8a8a;
}

#author>span{
    color: #55ccff;
}

p>span{
    background-color: #ffff00;
}

th{
    color:white;
    background-color: #1aabe6;
}

.tr-bg-colored{
    background-color: #b2e6f2;
}
h3{
    color: #949494;
}
.monitor{
    background-image: url('../img/monitor.jpg');
    background-size: cover;
    color:white;
    width:216px;
    height:162px;
    margin-bottom: 10px;
}

.graph{
    background-image: url('../img/graph.jpg');
    color:white;
    width:216px;
    height:162px;
}
